@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom: 40px;">
    <br /><h1 class="display-4">Produtos WeDancin</h1>
    <p>
        Vem conferir as novidades da WeDancin, que além de ser a melhor academia de dança, te abastece de produtos necessários para sua evolução ;)
        <br />Aqui você encontra <a href="https://loja.wedancin.com/calcas">calças</a>, <a href="https://loja.wedancin.com/tops">tops</a>, <a href="https://loja.wedancin.com/equipamento">equipamentos</a> e muito mais!
        <br />Confira abaixo os nossos produtos, ou filtre uma categoria específica.
    </p>
</div>
<hr />

<!---  produtos  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h3 style="margin: 20px 0 0 0; font-weight: 300;">CONFIRA NOSSOS PRODUTOS</h3>
        </div>
        <div class="col-2 dropdown btn-group align-self-end">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Ordenar por
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
            </ul>
        </div>

        @* TO DO ------ FAZER TANTO A ORDENAÇÃO QUANTO O FILTRAR
            <div class="col-1 align-self-end">
                <p>Filtrar ˬ</p>
            </div>*@

    </div>

    @* TO DO ------ UNIFICAR TUDO E CONSERTAR AS MARGENS NO RESPONSIVO *@

    <div class="row" style="margin-top: 50px;">
        <div class="col-sm text-center">
            <img src="~/images/prod6.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2021</h5>
            <h5 style="margin-top: -5px;">TOP DE LYCRA FEMININO</h5>
            <p style="font-weight: 300; margin: -8px 0 10px 0;">R$89,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
        <div class="col-sm text-center">
            <img src="~/images/prod1.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2020</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">TOP DE LYCRA FEMININO</h5>
            <p style="font-weight: 300; margin-top: -8px;"><s style="color: #b53833;">R$99,99</s>  R$69,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
        <div class="col-sm text-center">
            <img src="~/images/prod2.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2021</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">CALÇA DE MOLETOM</h5>
            <p style="font-weight: 300; margin-top: -8px;">R$129,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm text-center">
            <img src="~/images/prod3.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2021</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">MACACÃO DE DANÇA</h5>
            <p style="font-weight: 300; margin-top: -8px;"><s style="color: #b53833;">R$99,99</s>  R$69,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
        <div class="col-sm text-center">
            <img src="~/images/prod5.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2020</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">FONE SEM FIO + CAIXA CARREGADORA</h5>
            <p style="font-weight: 300; margin-top: -8px;">R$259,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
        <div class="col-sm text-center">
            <img src="~/images/prod6.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2021</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">TOP DE LYCRA FEMININO</h5>
            <p style="font-weight: 300; margin-top: -8px;">R$89,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm text-center">
            <img src="~/images/prod2.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2021</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">CALÇA DE MOLETOM</h5>
            <p style="font-weight: 300; margin-top: -8px;">R$129,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
        <div class="col-sm text-center">
            <img src="~/images/prod3.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2021</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">MACACÃO DE DANÇA</h5>
            <p style="font-weight: 300; margin-top: -8px;"><s style="color: #b53833;">R$99,99</s>  R$69,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
        <div class="col-sm text-center">
            <img src="~/images/prod1.png" />
            <h5 style="color: #cd2e7e; margin-top: 10px; font-weight:200; font-size:small;">COLEÇÃO 2020</h5>
            <h5 style="margin-top: -5px; color: #cd2e7e;">TOP DE LYCRA FEMININO</h5>
            <p style="font-weight: 300; margin-top: -8px;"><s style="color: #b53833;">R$99,99</s>  R$69,99</p>
            <button type="button" class="btn rounded-0 button2">comprar</button>
        </div>
    </div>
</div>

<!---  especial  -->

@* TO DO ------ WIDTH INTEIRA *@

<div class="container" style="background: #e5e5e5; padding: 30px 15px 30px 15px; margin: 50px 0 50px 0;">
    <div class="row align-items-center">
        <div class="col-5">
            <img src="~/images/exclusive.png" style="max-width: 70%; margin-left: 40px;">
        </div>
        <div class="col-6">
            <p>Chegou uma novidade só na WeDancinStore!</p>
            <hr />
            <h1>Smartwatch Band 4</h1>
            <small>
                O smartwatch Mi Smart Band 4 vai turbinar seus treinos e ensaios.
                Ele possui um display um pouco maior que os da concorrência, com cores
                vivas, full-touch, e configurações extras para facilitar seu dia-a-dia
                artístico!
            </small>
        </div>
    </div>
</div>

<!---  newsletter  -->
<hr />
<div class="container">
    <div class="row align-items-center">
        <div class="col-6 text-center">
            <p>
                CADASTRE-SE E FIQUE PODE DENTRO <br />
                DE TODAS AS NOVIDADES!
            </p>
        </div>
        <div class="col-3" style="padding-right: 0;">
            <input type="email" class="form-control rounded-0" id="exampleFormControlInput1" placeholder="seu.nome@exemplo.com">
        </div>
        <div class="col-1" style="padding-left: 0;">
            <button type="button" class="btn rounded-0 button2" style=" padding: 6px 6px;">cadastrar!</button>
        </div>
    </div>
</div>
<hr />